@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/* Définition de la mise en page GRID pour le MENU / DARKMODE */

#gridmenu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px repeat(7, auto);
    grid-template-areas: 
            "menuNav menuNav menuNav darkMode"
            "titre titre titre titre"
            "tomBik tomBik tomBik tomBik"
            "first first first first"
            "message message message message"
            "blockHome2 blockHome2 blockHome2 blockHome2"
            "deux deux deux deux"
            "blockHome blockHome blockHome blockHome"
            "footer footer footer footer"

    ;
}

/* Dark mode */

body {
    margin: 0;
    background-color: rgb(235, 235, 235);
}
  
body.light-mode {
    background-color: white;
}
  
body.dark-mode {
    background-color: #24272a;
}

/* DARK MODE POUR FORMULAIRE */

body.dark-mode form {
    border: 2px solid black;
    background-color: #121214;
    box-shadow: 0 0 10px #000000;
    color: #fff;
}

body.dark-mode form textarea {
    color: #fff;
    border: #2d3035;
    background-color: #24272a;
}

body.dark-mode form input#email {
    color: #fff;
    background-color: #24272a;
}

body.dark-mode form input#nom {
    color: #fff;
    background-color: #24272a;
}

body.dark-mode form ::placeholder {
    color: #fff;
}

body.dark-mode form input[type="text"], textarea {
    border: #2d3035;
}
 
body.dark-mode img.open-icon {
    color: #fff;
}
  
body.dark-mode h1 {
    color: white;
}

body.dark-mode h2 {
    color: white;
}

body.dark-mode h3 {
    color: white;
}
  
body.dark-mode p {
    color: white;
}

body.dark-mode footer {
    background-color: #121214;
    color: #fff;
}
  
#mode-switch {
    justify-self: right;
    align-self: center;
    width: 75px;
    height: 75px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 100;
/*
    transition: background-image 0.7s ease;
*/
    margin-right: 15px;
    margin-top: 15px;
}
  
#mode-switch.dark-mode {
    grid-area: darkMode;

    top: 20px;
    right: 30px;
    cursor: pointer;
    background-image: url('../img/moon_stars_night_midnight_sky_icon_194278.png');
}
  
#mode-switch.light-mode {
    grid-area: darkMode;

    top: 20px;
    right: 30px;
    cursor: pointer;
    background-image: url('../img/astronomy_solar_galaxy_sun_space_star_universe_icon_156878.png');
}
  /* Menu de navigation */

  
.menu-toggle {
    position: absolute;
    grid-area: menuNav;
    z-index: 100;
    top: 25px;
    left: 20px;
    cursor: pointer;
}
  
.menu-toggle img {
    grid-area: menuNav;
    width: 75px;
    height: 75px;
    transition: transform 0.3s ease-in-out;
}
  
.menu-toggle .close-icon {
    width: 70px;
    height: auto;
    animation: icon-rotate-exterieur 0.7s ease-in-out forwards;
    display: none;
}

.menu-toggle .open-icon {
    animation: icon-rotate-interieur 0.7s ease forwards;
}
  
.menu-toggle.open .open-icon {
    display: none;
}
  
.menu-toggle.open .close-icon {
    display: block;
}

@keyframes icon-rotate-interieur {
    from {
      transform: rotate(180deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
  
  @keyframes icon-rotate-exterieur {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }
  
.menu {
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Cacher le dark mode une fois le menu ouvert 
    z-index: 9998; */
    transform: translateX(-100%);
    transition: transform 1s ease-in-out;
}
  
.menu.show {
    transform: translateX(0);
    background-color: rgba(0, 0, 0, 0.95);
    transition: transform 1s ease-in-out, background-color 1s ease-in-out;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
  
.menu ul li {
    margin: 20px 0;
}
  
.menu ul li a {
    font-family: 'Orbitron', sans-serif;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}


h1 {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: clamp(2rem, 6vw, 10rem);
    color: rgba(0, 0, 0, 0.8);
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
}
  
h1:hover {
    color: rgb(200, 200, 200);
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
    font-size: x-large;
    grid-area: titre;
    margin: 20px auto 30px auto;
}

p {
    font-family: 'Space Mono', monospace;
    text-align: center;
    width: 90%;
    margin: auto;
    top: 0;
}


#photoHome {
    display: block;
    margin: auto;
    height: auto;
    width: 100%;
}

#tomBik {
    margin: 0;
    grid-area: tomBik;
}

#childBlock {
    grid-area: blockHome;
}

#childBlock img {
    display: block;
    margin: auto auto 40px auto;
    height: auto;
    width: 80%;
    border-radius: 10px;
}

#childBlock1 {
    display: none;
}

#childBlock2 {
    width: 90%;
    margin: auto auto 30px auto;
    grid-area: blockHome2;
}

#childBlock2 p {
    letter-spacing: 1.5px;
    font-family: 'Orbitron', sans-serif;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    grid-area: footer;
    width: 100%;
    margin: 0px auto;
    height: 90px;
    line-height: 90px;
    background-color: rgb(210, 210, 210);
}

footer p {
    color: black;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 20px;
}

/* Curseur sur toute la page */

html,body {
    /* CURSEUR POUR L'ENSEMBLE DE LA PAGE
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" style="font-size:40px"><text y="40">🐭</text></svg>'), auto !important;
    */
  }

  .menu-toggle,
  a {
    cursor: pointer;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" style="font-size:40px"><text y="40">🔍</text></svg>'), auto !important;
}

/* STYLE POUR LA PAGE CONTACT */
form {
    grid-area: tomBik;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 0 10px #ccc;
    max-width: 100%;
    margin-bottom: 35px;
    margin-right: 5%;
    margin-left: 5%;
    background-color: rgb(235, 235, 235);
}

#affichval{
    line-height: 30px;
    height: 5px;
    justify-self: center;
    grid-area: message;
    font-weight: bolder;
    font-size: 15px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1.5px;
    color: #4CAF50;
}

#afficherr{
    line-height: 30px;
    height: 5px;
    justify-self: center;
    grid-area: message;
    font-weight: bolder;
    font-size: 15px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1.5px;
    color: red;
}

textarea{
    height: 100px;
}

input[type="text"], textarea {
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1.5px;
    width: 100%;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #4CAF50;
    font-family: 'Orbitron', sans-serif;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

label {
    font-size: larger;
    font-family: 'Orbitron', sans-serif;
}

#tomBikRes {
    display: none;
}

#first {
    grid-area: first;
    width: 85%;
    margin-bottom: 30px;
}

#deux {
    grid-area: deux;
    width: 85%;
    margin-bottom: 15px;
}



/* RESPONSIVE POUR L'ENSEMBLE DE LA PAGE */ 

@media screen and (min-width: 768px) {
    #gridmenu {
        display: grid;
        gap: initial;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 100px repeat(7, auto);
        grid-template-areas: 
                "menuNav menuNav menuNav darkMode"
                "titre titre titre titre"
                "tomBik tomBik tomBik tomBik"
                "first first first first"
                "blockHome2 blockHome2 blockHome2 blockHome2"
                "deux deux deux deux"
                "blockHome blockHome blockHome1 blockHome1"
                "footer footer footer footer"
    
        ;
    }

    .menu-toggle {
        display: none;
    }
  
    .menu {
        position: absolute;
        grid-area: menuNav;
        height: 110px;
        transform: none;
    }
  
    .menu ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
  
    .menu ul li {
        margin: 20px;
    }
  
    .menu ul li a {
        font-size: 22px;
    }

    #childBlock {
        display: block;
        width: 85%;
        margin: 0 auto 30px auto;
    }

    #childBlock img {
        width: 100%;
    }

    #childBlock1 {
        grid-area: blockHome1;
        display: block;
        width: 85%;
        margin: 0 auto 30px auto;
    }

    #childBlock1 img {
        display: block;
        margin: auto auto 25px auto;
        height: auto;
        width: 100%;
        border-radius: 10px;
    }

    #childBlock2 {
        max-width: 85%;
        margin: auto;
    }

    #deux {
        margin-top: 30px;
    }

    #mode-switch {
        z-index: 0;
    }

    #mode-switch.dark-mode {
        grid-area: darkMode;
        top: 17px;

    }

    #mode-switch.light-mode {
        grid-area: darkMode;
        top: 17px;

    }

    form {
        margin-left: 15%;
        margin-right: 15%;
    }

    h1 {
        font-size: 60px;
    }

    h3 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #tomBik {
        display: none;
    }

    #tomBikRes {
        display: flex;
        grid-area: tomBik;
        flex-direction: column;
        align-items: center;
    }

    #photoHome {
        display: none;
        margin: auto;
        width: 75%;
        height: auto;
    }

    #photoHome1 {
        margin: auto;
        width: 75%;
        height: auto;
    }


    footer {
        position: static;
    }
  }

  @media screen and (min-width: 1497px) {
    
  }

