@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

/* Définition de la mise en page GRID pour le MENU / DARKMODE */

#gridmenu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px;
    grid-template-areas: 
            "menuNav darkMode"
    ;
}

/* Dark mode */

body {
    transition: background-color 0.3s ease;
    background-color: #f1ec98;
}
  
body.light-mode {
    background-color: white;
}
  
body.dark-mode {
    background-color: #3d434b;
}

body.dark-mode img.open-icon {
    color: #fff;
}
  
body.dark-mode h1 {
    color: white;
}

body.dark-mode h2 {
    color: white;
}
  
body.dark-mode p {
    color: white;
}
  
#mode-switch {
    width: 75px;
    height: 75px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.7s ease;
}
  
#mode-switch.dark-mode {
    grid-area: darkMode;
    position: fixed;
    top: 20px;
    right: 30px;
    cursor: pointer;
    background-image: url('../img/moon_stars_night_midnight_sky_icon_194278.png');
}
  
#mode-switch.light-mode {
    grid-area: darkMode;
    position: fixed;
    top: 20px;
    right: 30px;
    cursor: pointer;
    background-image: url('../img/astronomy_solar_galaxy_sun_space_star_universe_icon_156878.png');
}


  /* Menu de navigation */

  
.menu-toggle {
    
    grid-area: menuNav;
    position: fixed;
    top: 25px;
    left: 30px;
    cursor: pointer;
    z-index: 9999;
}
  
.menu-toggle img {
    grid-area: menuNav;
    width: 75px;
    height: 75px;
    transition: transform 0.3s ease-in-out;
}
  
.menu-toggle .close-icon {
    animation: icon-rotate-exterieur 0.7s ease-in-out forwards;
    display: none;
}

.menu-toggle .open-icon {
    animation: icon-rotate-interieur 0.7s ease forwards;
}
  
.menu-toggle.open .open-icon {
    display: none;
}
  
.menu-toggle.open .close-icon {
    display: block;
}

@keyframes icon-rotate-interieur {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
  
  @keyframes icon-rotate-exterieur {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }
  
.menu {
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* Cacher le dark mode une fois le menu ouvert 
    z-index: 9998; */
    transform: translateX(-100%);
    transition: transform 1s ease-in-out;
}
  
.menu.show {
    transform: translateX(0);
    background-color: rgba(0, 0, 0, 0.8);
    transition: transform 1s ease-in-out, background-color 1s ease-in-out;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
  
.menu ul li {
    margin: 20px 0;
}
  
.menu ul li a {
    font-family: 'Roboto Mono', monospace;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}


h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

#p {
    grid-area: p;
}

/* Curseur sur toute la page */

html,body {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" style="font-size:40px"><text y="40">🐭</text></svg>'), auto !important;
  }

  .menu-toggle,
  a {
    cursor: pointer;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" style="font-size:40px"><text y="40">🔍</text></svg>'), auto !important;
  }

/* RESPONSIVE POUR L'ENSEMBLE DE LA PAGE */ 

@media screen and (min-width: 768px) {
    #gridmenu {
        display: grid;
        grid-template-columns: 1fr 100px;
        grid-template-rows: 110px;
        grid-template-areas: 
                "menuNav darkMode"
        ;
    }

    .menu-toggle {
        display: none;
    }
  
    .menu {
        grid-area: menuNav;
        height: 110px;
        transform: none;
        top: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
    }
  
    .menu ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
  
    .menu ul li {
        margin: 20px;
    }
  
    .menu ul li a {
        font-family: 'Roboto Mono', monospace;
        color: #fff;
        font-size: 22px;
    }

    #mode-switch.dark-mode {
        grid-area: darkMode;
        align-self: flex-end;
    }

    #mode-switch.light-mode {
        grid-area: darkMode;
        align-self: flex-end;
    }
  }

