@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/* Définition de la mise en page GRID pour le MENU / DARKMODE */

#gridmenu {
    display: grid;
    row-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "menuNav darkMode"
        "titre titre"
        "tuto tuto"
        "titre1 titre1"
        "tuto1 tuto1"
        "footer footer";
}

/* Dark mode */

body {
    margin: 0;
    background-color: rgb(235, 235, 235);
}
  
body.light-mode {
    background-color: white;
}
  
body.dark-mode {
    background-color: #24272a;
}

/* DARK MODE POUR FORMULAIRE */

body.dark-mode form {
    border: 1px solid #2d3035;
    box-shadow: 0 0 10px #646d79;
    background-color: #3d434b;
    color: #fff;
}

body.dark-mode form textarea {
    color: #fff;
    border: #2d3035;
    background-color: #646d79;
}

body.dark-mode form input#email {
    color: #fff;
    background-color: #646d79;
}

body.dark-mode form input#nom {
    color: #fff;
    background-color: #646d79;
}

body.dark-mode form ::placeholder {
    color: #fff;
}

body.dark-mode form input[type="text"], textarea {
    border: #2d3035;
}
 
body.dark-mode img.open-icon {
    color: #fff;
}
  
body.dark-mode h1 {
    color: white;
}

body.dark-mode h2 {
    color: white;
}

body.dark-mode h3 {
    color: white;
}

body.dark-mode .boite1 {
    color: white;
    background-color: #121214;
    border: 2px solid black;
}

body.dark-mode .boite2 {
    color: white;
    background-color: #121214;
    border: 2px solid black;
}

body.dark-mode .boite3 {
    color: white;
    background-color: #121214;
    border: 2px solid black;
}

body.dark-mode .boite4 {
    color: white;
    background-color: #121214;
    border: 2px solid black;
}

body.dark-mode .boite5 {
    color: white;
    background-color: #121214;
    border: 2px solid black;
}

body.dark-mode .boite6 {
    color: white;
    background-color: #121214;
    border: 2px solid black;
}

body.dark-mode p {
    color: white;
}

body.dark-mode footer {
    background-color: #121214;
    color: #fff;
}

body.dark-mode .liens {
    border: 2px solid black;
    background-color: #121214;
}

body.dark-mode .card {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.445);
    border: 2px solid black;
    background-color: #121214;
}

body.dark-mode .card-info a {
    color: white;
}

body.dark-mode .card1 {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.445);
    border: 2px solid black;
    background-color: #121214;
}

body.dark-mode .more-info::after {
    color: #fff;
}

body.dark-mode .card-info #wamp {
    color: #2f96d2;
}
  
#mode-switch {
    justify-self: right;
    align-self: center;
    width: 75px;
    height: 75px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 100;
    transition: background-image 0.7s ease;
    margin-right: 15px;
    margin-top: 15px;
}
  
#mode-switch.dark-mode {
    grid-area: darkMode;

    top: 20px;
    right: 30px;
    cursor: pointer;
    background-image: url('../img/moon_stars_night_midnight_sky_icon_194278.png');
}
  
#mode-switch.light-mode {
    grid-area: darkMode;

    top: 20px;
    right: 30px;
    cursor: pointer;
    background-image: url('../img/astronomy_solar_galaxy_sun_space_star_universe_icon_156878.png');
}

  /* Menu de navigation */

  
.menu-toggle {
    position: absolute;
    grid-area: menuNav;
    z-index: 100;
    top: 25px;
    left: 20px;
    cursor: pointer;
}
  
.menu-toggle img {
    grid-area: menuNav;
    width: 75px;
    height: 75px;
    transition: transform 0.3s ease-in-out;
}
  
.menu-toggle .close-icon {
    width: 70px;
    height: auto;
    animation: icon-rotate-exterieur 0.7s ease-in-out forwards;
    display: none;
}

.menu-toggle .open-icon {
    animation: icon-rotate-interieur 0.7s ease forwards;
}
  
.menu-toggle.open .open-icon {
    display: none;
}
  
.menu-toggle.open .close-icon {
    display: block;
}

@keyframes icon-rotate-interieur {
    from {
      transform: rotate(180deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
  
  @keyframes icon-rotate-exterieur {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }
  
.menu {
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Cacher le dark mode une fois le menu ouvert 
    z-index: 9998; */
    transform: translateX(-100%);
    transition: transform 1s ease-in-out;
}
  
.menu.show {
    transform: translateX(0);
    background-color: rgba(0, 0, 0, 0.95);
    transition: transform 1s ease-in-out, background-color 1s ease-in-out;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
  
.menu ul li {
    margin: 20px 0;
}
  
.menu ul li a {
    font-family: 'Orbitron', sans-serif;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.card {
    justify-self: center;
    width: 80%;
    margin: 10px;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.3);
    background-color: rgb(210, 210, 210);
    border: 2px solid rgb(245, 245, 245);
    border-radius: 10px;
    overflow: hidden;
    font-family: 'Orbitron', sans-serif;
  }
  
  .card img {
    width: 100%;
    height: auto;
    display: block;
  }

  #card {
    grid-area: tuto;
  }

  #card1 {
    grid-area: tuto1;
  }
  
  .card-info {
    padding: 10px;
  }
  
  .card-info h2 {
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.2rem;
    margin: 5px 5px 0 5px;
  }
  
  .card-info p {
    margin: auto;
  }

  .centre {
    text-align: center;
  }
  
  .more-info {
    text-decoration: none;
    letter-spacing: 0.5px;
    color: black;
    display: flex;
    margin: 10px 0;
    cursor: pointer;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
  }
  
  .more-info::after {
    content: "+";
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 37px;
    font-size: 24px;
    color: black;

    transition: transform 0.3s;
    transform: rotate(0deg);
  }
  
  .more-info.clicked::after {
    transform: rotate3d(0, 1, 0.5, 3.142rad);
  }

  .more-info.clicked + .extra-info {
    display: block;
  }
  
  .extra-info {
    display: none;
  }
  
  .extra-info p {
    letter-spacing: 0.5px;
    margin: 25px 0 25px 0;
  }

  .extra-info img{
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .extra-info a {
    color: #2f96d2;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-align: center;
  }

  

h1 {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: clamp(2rem, 6vw, 10rem);
    color: rgba(0, 0, 0, 0.8);
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
}
  
h1:hover {
    color: rgb(200, 200, 200);
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
    font-size: x-large;
    margin: auto;
    width: 90%;
}

#mes {
    grid-area: titre;
}

#com {
    grid-area: titre1;
}

h4 {
    max-width: 90%;
    margin: auto;
    font-weight: lighter;
    font-size: larger;
    text-align: center;
}

p {
    text-align: left;
    width: 98%;
    margin: auto;
    top: 0;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    grid-area: footer;
    width: 100%;
    margin: 0px auto;
    height: 90px;
    line-height: 90px;
    background-color: rgb(210, 210, 210);
}

footer p {
    color: black;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 20px;
}

html,body {
    /* CURSEUR POUR L'ENSEMBLE DE LA PAGE
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" style="font-size:40px"><text y="40">🐭</text></svg>'), auto !important;
    */
  }

  .menu-toggle,
  a {
    cursor: pointer;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" style="font-size:40px"><text y="40">🔍</text></svg>'), auto !important;
}

@media screen and (min-width: 768px) {
    #gridmenu {
        display: grid;

          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: 100px 30px repeat(2, auto);
          grid-template-areas: 
            "menuNav darkMode"
            "titre titre1"
            "tuto tuto1"
            "footer footer";
    }

    .menu-toggle {
        display: none;
    }
  
    .menu {
        position: absolute;
        grid-area: menuNav;
        height: 110px;
        transform: none;
    }
  
    .menu ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
  
    .menu ul li {
        margin: 20px;
    }
  
    .menu ul li a {
        font-size: 22px;
    }

    #mode-switch {
    z-index: 0;
    }

    #mode-switch.dark-mode {
        grid-area: darkMode;
        top: 17px;

    }

    #mode-switch.light-mode {
        grid-area: darkMode;
        top: 17px;

    }

    h1 {
        font-size: clamp(3rem, 6vw, 10rem);
    }

    p {
        width: 100%;
    }

    #tomBik {
        display: none;
    }

    #photoHome {
        margin: auto;
        width: 75%;
        height: 75%;
    }

    .card {
        width: 95%;
    }

    .card1 {
        width: 95%;
    }

    .extra-info{
        padding: 10px;
    }


    footer {
        position: static;
    }
  }